body {
  text-align: center;
  background-color:  #b3ffff;
}
.logo{
  width: 500px;
  height: 500px;
}

#tall,#short {
  display: none;
}
ul,p{
font-size: 30px;
}
.bg-warning{
  background-color: red;
}

.alllist {
  display: none;
}
